* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Fora Sans", sans-serif;
    font-weight: bold;
    color: rgb(36, 33, 33);

}


.container {
    font-size: 10px;
    padding: 20px;
}

.from-group {
    width: 136px;

}

label {
    font-size: 12px;

}

input {
    width: 238px;

}

.icon {
    color: red
}