* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.doctor-schedule-container {
    border-right: 1px solid green;
    height: 136%;

    .all-schedule {
        select {
            border-bottom: 1px solid #ddd;
            border-top: none;
            border-right: none;
            border-left: none;
            outline: none;
            padding: 10px 0;
            color: #337ab7;

            option {
                cursor: pointer;
            }
        }
    }

    .all-available-time {
        .text-calendar {
            color: #333;
            margin: 10px 0;

            i {}

            span {
                text-transform: uppercase;
                margin-left: 5px;
            }
        }

        .time-content {
            display: flex;
            gap: 5px;
            flex-wrap: wrap;

            button {
                padding: 8px 10px;
                border: none;
                outline: none;
                background-color: #fff0b4;
                border-radius: 5px;
                min-width: 120px;
                font-weight: 600;
                color: #333;
            }

            button:hover {
                background-color: #45c3d2;
                color: white;
            }
        }
    }


}