.doctor-extra-infor-container {
    padding-left: 15px;

    .content-up {
        margin-bottom: 10px;

        .text-address {
            text-transform: uppercase;
            color: #333;
        }

        .name-clinic {
            padding: 5px 0;
            font-weight: bold;
            color: #333;
            font-size: 15px;
        }

        .detail-address {
            font-weight: bold;
            color: #333;
            font-size: 15px;
        }
    }

    .content-down {
        border: none;

        .short-infor {
            .detail {
                cursor: pointer;
                color: black
            }

            span:hover {
                cursor: pointer;
                color: rgb(38, 160, 231)
            }

            .currency {
                margin: 0 5px;
            }
        }

        .title-price {
            margin-bottom: 10px;
        }

        .detail-infor {
            border: none;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
            background-color: #f8f8f8;
            padding: 5px;

            .price {
                padding-bottom: 5px;


                .left {
                    float: left;
                }

                .right {
                    float: left;
                }
            }

            .note {
                margin-top: 20px;
            }
        }

        .payment {
            border: none;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
            padding: 5px;
            background-color: #eee;
        }

        .hide-price {
            margin-top: 10px;

            span {
                cursor: pointer;
                color: black
            }

            span:hover {
                cursor: pointer;
                color: rgb(38, 160, 231)
            }
        }
    }
}