* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.profile-doctor-container {

    .intro-doctor {
        display: flex;

        .content-left {
            width: 20%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 50%;
            width: 80px;
            height: 80px;
        }

        .content-right {
            width: calc(100% - 80px);
            flex-direction: column;
            display: flex;
            padding-left: 10px;

            .up {
                font-weight: 600;
            }

            .down {
                //can deu trai phai
                text-align: justify;
                padding-top: 10px;

                span {
                    font-size: 12px;
                    font-weight: 600;
                    font-family: emoji;
                }
            }
        }
    }
}