* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


.home-header-container {
    border: none;
    width: 100%;

    position: fixed;
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .home-header-content {
        width: 100%;
        height: 100%;
        display: flex;

        .left-content {
            width: 30%;
            border: none;
            cursor: pointer;
            display: flex;


            i {
                font-size: 30px;
                padding-top: 10px;
                padding-left: 10px;
            }

            i:hover {
                color: #918a8a;
            }


            .Header-logo {

                background: url(../../assets/images/Booking.com-Logo.wine.svg) center no-repeat;
                width: 360px;
                height: 70px;
                color: black;
                background-size: cover;
            }
        }

        .center-content {
            width: 50%;
            border: none;
            display: flex;
            justify-content: space-between;
            align-items: center;


            .child-content b {
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 14px;
            }

        }

        .right-content {
            width: 12%;
            border: none;
            padding: 10px;
            float: right;
            height: 100px;

        }




        // 
        //     align-items: center;

        // }

    }
}

.content-right {
    color: black;
    text-decoration: none;
    text-align: center;
    margin-left: 40%;

}



.home-header-banner {
    background-image: url(../../assets/images/ic_banner.6b9cdab4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1200px;
    background-position: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    padding: 15px 0;


    .title-1 {

        margin-top: 350px;
        font-size: 40px;
        text-align: center;
        color: #adacac;
        font-family: cursive;
    }

    .title-2 {
        text-align: center;
        color: #918a8a;
        font-size: 50px;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    }

    .search {
        margin-left: 450px;
        border: 1px solid transparent;
        line-height: 46px;
        border-radius: 25px;
        padding-left: 10px;
        padding-right: 150px;
        position: relative;
        height: 47px;
        color: #000;
        background-color: #f7d800;
        width: 500px;
        box-shadow: rgba(173, 168, 168, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

    i {
        font-size: 13px;

    }

    input {
        padding-left: 10px;
        outline: none;
        cursor: pointer;
        background-color: #f7d800;
        border: none;
        width: 300px;

    }

    .options {

        justify-content: center;
        display: flex;
        gap: 30px;
        align-items: center;
        display: flex;
        cursor: pointer;

        .option-child {
            text-align: center;
            padding: 10px;
            margin: 10px;
            font-size: 15px;

        }

        i {
            font-size: 40px;
            color: #00B9F7;
        }

        i:hover {
            color: #a0c4d1;
        }

        .icon-child {
            font-size: 30px;
        }

        .text-child {
            font-size: 15px;
        }

        .text-child:hover {
            color: #494848;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        }




    }
}

.language-code {
    display: flex;
    margin-top: 5px;


    .language-vi {
        cursor: pointer;
        padding: 5px;
        margin-top: 10px;
    }

    .language-en {
        margin-top: 10px;
        padding: 5px;
        cursor: pointer;
    }



}

.child-right-content {
    margin-top: 10px;
}