* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.home-header-container {
    height: 60px;
    border: 1px solid red;
    width: 100%;
    height: 100px;

    .home-header-content {
        width: 100%;
        height: 120%;
        display: flex;

        .left-content {
            width: 33%;
            border: 1px solid green;

            .Header-logo {
                background: url(../../assets/images/iconlogo.svg.png) center center no-repeat;
                width: 100%;
                height: 150%;
                color: black;

            }
        }

        .center-content {
            width: 50%;
            border: 1px solid orange;
        }

        .right-content {
            width: 25%;
            border: 1px solid grey;
        }
    }
}